@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Employee Management System</p>
    <p>
        <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Add">Add Employee</a>
        <a class="btn btn-success" asp-area="" asp-controller="Employee" asp-action="List">List Employee</a>
    </p>
</div>
